<h1>Customer Vehicle Dashboard</h1>


<p *ngIf="!_cutomerVehicles"><em>Loading...</em></p>

<table class='table' *ngIf="_cutomerVehicles">
  <thead>
    <tr>
      <th>customer</th>
      <th>VIN</th>
      <th>Reg #</th>
      <th>Status</th>
      <th>Last Modified Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customeVehicle of _cutomerVehicles">
      <td>
        <span>
          {{ customeVehicle?.customer?.name }}<br />
          {{ customeVehicle?.customer?.address }}&nbsp;
          {{ customeVehicle?.customer?.postalCode }} &nbsp;
          {{ customeVehicle?.customer?.city }}
        </span>
      </td>
      <td>{{ customeVehicle?.vin }}</td>
      <td>{{ customeVehicle?.regNo }}</td>
      <td>{{ customeVehicle?.currentStatus }}</td>
      <td>{{ customeVehicle?.lastModificationStatus | date:'short'  }}</td>
      <td>
        <ul>
          <button class="btn btn-primary"
                  [routerLink]="['/customerVehicleHistory/',customeVehicle.customer.id,customeVehicle.vin,customeVehicle.regNo ]">
            <i class="fas fa-list" title="Show History"></i>
          </button>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="77"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>

</div>
