<h1>Alten Code Challenge</h1>
<p>Welcome to Vehicles Dashboard.</p>
<app-vehicleDashboard></app-vehicleDashboard>

<p *ngIf="!vehicleCustomers"><em>Loading...</em></p>

<!--<table class='table' *ngIf="vehicleCustomers">
  <thead>
    <tr>
      <th>Cus</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>-->
